{
  "device_family": "iphone_12_mini",
  "models": ["MGJ53ZD/A"],
  "webhook": "https://example.com/webhook",
  "message": "Someone to ping or what to prefix the message with when stuff is found",
  "product": ["iPhone 14 Pro Max 512GB"],
  "stores": ["R462"]
}